<div id="carouselExample" class="carousel slide">
    <div *ngIf="sliderList" class="carousel-inner">
        <div [ngClass]="{'active': index === 0}" class="carousel-item"
            *ngFor="let slide of sliderList; let index = 'index'">
            <img src="../../../../assets/slide-images/{{slide.sliderImage}}" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon rounded bg-secondary-opacity" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon rounded bg-secondary-opacity" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>