<div class="container mt-5">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h3 class="text-center">Login</h3>
                <div [formGroup]="loginForm">
    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="Email giriniz" formControlName="email" [ngClass]="{'invalid': getControlName('email')}">
                    </div>
    
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Şifre giriniz" formControlName="password" [ngClass]="{'invalid': getControlName('password')}"> 
                    </div>
    
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="remember">
                            <label class="form-check-label" for="flexCheckDefault" >Remember me</label>
                        </div>
                        <a href="#" class="text-decoration-none">Forgot password</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid" (click)="onSubmit()">Sign in</button>
                </div>
                <p class="text-center mt-3">Not a member? <a href="#" class="text-decoration-none">Register</a></p>
                <p class="text-center">or sign up with:</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-link text-decoration-none text-dark fs-4"><i class="bi bi-google"></i></a>
                    <a href="#" class="btn btn-link text-decoration-none text-info fs-4"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>