<div style="width: 800px;" class="mx-auto">
  <app-slider [sliderList]="sliderList"></app-slider>

</div>

<div class="container-fluid" *ngIf="productList">
  <div class="card d-inline-block mx-2" style="width: 18rem;" *ngFor="let product of productList">
    <img class="card-img-top" src="../../assets/product-images/{{product.productImage}}" width="286px" height="173px">
    <div class="card-body">
      <h5 class="card-title">{{product.productTitle}}</h5>
      <p class="card-text">{{product.productContent}}</p>
      <button class="btn btn-primary" (click)="addToCart(product)">Sepete Ekle</button>
    </div>
  </div>

</div>